@model Travel_Blog.Models.Experience

<html>
<head>
    <title>Experiences - Details</title>
</head>
<body>
    <h2>Details</h2>
    <hr />
    Description: @Html.DisplayFor(model => model.Description)
    <p>@Html.ActionLink("Back to list", "Index")</p>
</body>
</html>