@model IEnumerable<Travel_Blog.Models.Location>

<html>
<head>
    <title>Travel Blog</title>
</head>

<body>
    <h2>Travel Blog</h2>
    <h3>Locations</h3>
    <ul>
        @foreach (var listLocation in Model)
        {
            <li>@Html.DisplayFor(modelLocation => listLocation.Name) | @Html.ActionLink("Details", "Details", new { id = listLocation.LocationId })</li>
        }
    </ul>
</body>
</html>