<html>
<head>
    <title>Travel Blog</title>
</head>
<body>
    <h2>Welcome to the Travel Blog!</h2>
    @Html.ActionLink("Go to list of locations", "Index", "Locations")
    <br />
    @Html.ActionLink("Go to list of experiences", "Index", "Experiences")
    <br />
    @Html.ActionLink("Go to list of people", "Index", "Peoples")


</body>
</html>